# Finding the unique elements with sets

### Introduction

In the last lesson, we learned about the `map` function.  Now the `map` function is very useful for just selecting the information that we need from our data.  In this lesson, we'll see dig further into our data with the use of `set`.

### Seeing the range of values

Ok, so once again, here is our list of employees.

In [2]:
employees = [
    {'name': 'amelia banes', 'birth_year': '1989' ,'days_available': []},
    {'name': 'olivia wilker', 'birth_year': '1992', 'days_available': ['Monday', 'Tuesday', 'Saturday', 'Sunday']},
    {'name': 'sam seaborne', 'birth_year': '1995' ,'days_available': ['Thursday', 'Saturday']},
    {'name': 'patrina baker', 'birth_year': '1992' ,'days_available': ['Saturday', 'Sunday']},
    {'name': 'olivia wilker', 'birth_year': '1992' ,'days_available': ['Saturday', 'Sunday']},
    {'name': 'jake mcbride', 'birth_year': '1987' ,'days_available': ['Wednesday', 'Thursday']},
]

Now one thing that we may want to do is find all of the years of birth of our employees.  This could be good, for example, for seeing what types of employee events we should plan.

The first step in doing this is to get a list of all of the years of birth of our employees.

In [5]:
birth_years = list(map(lambda employee: employee['birth_year'], employees))
birth_years

['1989', '1992', '1995', '1992', '1992', '1987']

So now, let's get a list of unique birth years.  We can do this by passing our list into the `set` function.

In [76]:
set(birthdays)

{'1989', '1992', '1995'}

> A **set** is a new data structure where each element is unique.  We can turn a list into a set with the `set` function.  And if we want we can also turn a set back to a list by wrapping our set in the list function.

We'll that this can be very handy for getting a summary of the types of values in a given attribute.

### Discovering Repeats with Set

It can also be handy for seeing if accidentally have a repeating name or number where we shouldn't.  For example, let's see if we can use set to discover if we have any repeating names.  

Now once again, we can start with our map function to just get a list of names.

In [7]:
names = list(map(lambda employee: employee['name'], employees))
names

['amelia banes',
 'olivia wilker',
 'sam seaborne',
 'patrina baker',
 'olivia wilker',
 'jake mcbride']

Now notice above that we do have a repeat: `olivia walker` is there twice.  That sneak!  So when we call set on this list, our set should be smaller, because our set will only have the unique list of names.

In [8]:
set(names)

{'amelia banes',
 'jake mcbride',
 'olivia wilker',
 'patrina baker',
 'sam seaborne'}

This will always be the case.  If our list has repeats, then turning our `set` into our list will give us an entity with a smaller list.  

So we can just ask if our set is smaller than our list, and if it is, we know we have repeats.

In [9]:
len(names)

6

In [11]:
len(set(names))

5

Ok, so we know that we have one repeat.

### Summary

In this lesson, we learned about the `set` function.  Now using set creates for us a new data structure, a set.  A set is similar to a list but each element is can only appear once.  This can be useful to us as it allows us to see the range of values in our collection.  It also can help us discover duplicate values by seeing if our set has fewer elements than our orginal list.