# Coercing our Data

### Introduction

Let's continue to see how we can use Python skills to change our data.  We'll start off with a list of employees.

In [1]:
employees = [
    {'name': 'amelia banes', 'birth_year': '1989' ,'days_available': []},
    {'name': 'olivia wilker', 'birth_year': '1992', 'days_available': ['Monday', 'Tuesday', 'Saturday', 'Sunday']},
    {'name': 'sam seaborne', 'birth_year': '1995' ,'days_available': ['Thursday', 'Saturday']},
    {'name': 'patrina baker', 'birth_year': '1992' ,'days_available': ['Saturday', 'Sunday']},
    {'name': 'jake mcbride', 'birth_year': '1987' ,'days_available': ['Wednesday', 'Thursday']},
]

Now let's see how we might want to modify this data.

### Strings and Lists

One other thing to note is that we may go from strings to lists, and vice versa.  For example, let's try separate our names like `'amelia banes'` into a listÂ of first name and last name, like `['amelia', 'banes']`.

### Using split

Now our first guess might be to try to use the `list` method to change our string.

In [20]:
name = 'amelia banes'
list(name)

['a', 'm', 'e', 'l', 'i', 'a', ' ', 'b', 'a', 'n', 'e', 's']

Ok, not exactly what we wanted.  Instead what we want is to split our string 'amelia banes' by the space.

In [24]:
first_and_last = name.split(' ')
first_and_last

['amelia', 'banes']

There we go. So our strings come with a split method, and in the parentheses of it we place the character we would like to split by, here a space.  But we can choose anything.

In [22]:
name.split('e')

['am', 'lia ban', 's']

### Bonus using join

We can also go from a list to a string by using the `join` method.

In [30]:
first_and_last

['amelia', 'banes']

In [29]:
' '.join(first_and_last)

'amelia banes'