# Coercing our Data

### Introduction

Let's continue to see how we can use Python skills to change our data.  We'll start off with a list of employees.

In [1]:
employees = [
    {'name': 'amelia banes', 'birth_year': '1989' ,'days_available': []},
    {'name': 'olivia wilker', 'birth_year': '1992', 'days_available': ['Monday', 'Tuesday', 'Saturday', 'Sunday']},
    {'name': 'sam seaborne', 'birth_year': '1995' ,'days_available': ['Thursday', 'Saturday']},
    {'name': 'patrina baker', 'birth_year': '1992' ,'days_available': ['Saturday', 'Sunday']},
    {'name': 'jake mcbride', 'birth_year': '1987' ,'days_available': ['Wednesday', 'Thursday']},
]

Now let's see how we might want to modify this data.

### Strings to Integers

Now that we have our data, then next thing we may want to do is make sure that our data is just the way we want.  For example, each value to the `birth_year` is a string, where we would likely prefer it to be an integer.  Let's see how we can change this.  Here is our first `birth_year`.

In [4]:
first_birth_year = employees[0]['birth_year']
first_birth_year

'1989'

Now to change this to a number, we can simply do the following.

In [5]:
int(first_birth_year)

1989

Great, so we just changed this data to an integer.  This may not seem like a big deal, but considering that we may want to do something with this data, like calculate the age of our employees, or see the difference in ages, we'll need this data to be an integer.

And this is a general pattern in Python.  We can coerce our data simply the name of the datatype followed by parentheses.  `int`, `str`, `set`, `list` are each functions that we can use to coerce our data into that type.

In [16]:
str(1989)

'1989'

We call these functions **constructor functions** as they literally construct data of that type. We can use them, for example, to construct an empty list.

In [31]:
list()

[]

In general, we'll use these functions to go from `string` to `int`, and `list` to `set`.  

And we can combine this with our map function to change all of our data.

In [17]:
birth_years = list(map(lambda employee: employee['birth_year'], employees))

In [18]:
birth_year_ints = list(map(lambda year: int(year), birth_years))
birth_year_ints

[1989, 1992, 1995, 1992, 1992, 1987]

Easy peasy.

### Summary

In this lesson, we saw how we can use **constructor functions** to change our data from one datatype to another.  We can use these functions to create empty data.

In [33]:
int()

0

But we'll mainly lean on them to coerce our data from one type to another.

In [34]:
int('1010')

1010

Then, we can combine these functions with map, to coerce all of the items in a list.

In [38]:
birth_year_ints = list(map(lambda employee: int(employee['birth_year']), employees))
birth_year_ints

[1989, 1992, 1995, 1992, 1992, 1987]